<!-- each large element should take full screen -->
<div class="landing-element large-element">
	<div class="intro-info-container">
		<div class="my-name"> Reid South </div>
		<div class="title"></div>
	</div>
	<div class="continue-btn"></div>
</div>

<div class="my-info large-element">
	<div class="skills-list">
		
	</div>
</div>