/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 @import 'bootstrap';
 @import 'parsley';
 @import 'home';
 @import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
 @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
	height: 100%;
	font-family: 'Josefin Slab', 'Josefin Sans'
}

body {
	@extend html;
  background: url(wave-bg.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.social-links {
  position: fixed;
  right: 0;
  height: 200px;
  width: 50px;
  background: white;
  z-index: 5;
}

.social-link {
	margin: 8px auto;
	transition: .7s ease;

	&:hover {
		background: #dee2e6;
	}
}