// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$full: 100%;
$most: 90%;
$much: 75%;
$half: 50%;


.large-element {
	position: relative;
  width: 95%;
  margin: 50px auto;
  border-radius: 1px;
  box-shadow: 0px 0px 15px 0px #00178a;
}

.landing-element {
	background: white;

	.intro-info-container {
		height: 500px;
		width: $most;
		margin: auto;
	}
}

.rs-logo {
  position: relative;
  width: 20%;
  margin: auto;
}

.reid-south {
  height: 100%;
  width: 75%;
}

.nav-wrapper {
	position: relative;
	
	.nav-buttons {
    position: relative;
    margin-left: 20px;
	}
}

.profile-pic {
	position: relative;
	margin: 20px 20px 20px 50px;
  box-shadow: 0px 0px 10px black;
	border-radius: $half;
	height: 300px;
}


@media all and (min-width: 992px) {
	
	.profile {
	  padding-bottom: 30px;
	}
}

@media all and (max-width: 991px) {
	.profile {
	  padding-bottom: 30px;
		margin: 15px;
	}
}


.nycda-logo {
	height: 100px;
  position: relative;
  bottom: 10px;
}

.lang-logo {
  height: 75px;
  margin: 10px;
}

.title {
	position: relative;
	z-index: 1;
  font-size: 50px;
}

.resume-icon {
  height: 120px;
  margin: 20px 0px 0px 40px;
}

.projects {
	margin: 25px;
}

i {
	font-size: 75px;
	color: #008efe;
}

.border-right{
  border-right: 1px solid #c1c1c1;
}